
<h1>Titulos</h1><br><br>
<h2>&lt;h1&gt;</h2>
<h1 class="izq">Esto es un titulo h1</h1>
<h2>Esto es un titulo h2</h2>
<h3>Esto es un titulo h3</h3>
<h4>Esto es un titulo h4</h4>

<hr>
<h1>Listar Elementos</h1><br><br>
<h2>&lt;Li&gt;</h2>
<p>Añade un elemento a la lista</p>
<h2>&lt;Ul&gt;</h2>
<p>Añade una lista desordenada</p>

<ul>Compras
    <li>Aguacate</li>
    <li>Pan</li>
    <li>Cebolla</li>
</ul>
<hr>
<h2>&lt;Ol&gt;</h2>
<p>Añade una lista Ordenada</p>

<ol>Primeros Meses del Año
    <li>Enero</li>
    <li>Febrero</li>
    <li>Marzo</li>
</ol>
<hr>

<h1>Tablas</h1>
<h2>&lt;table&gt;</h2>
<p>Crea una tabla . &lt;teable&gt;Tabla&lt;teable&gt;</p>
<h2>&lt;tr&gt;</h2>
<p>Define una fila</p>
<h2>&lt;th&gt;</h2>
<p>Define una celda como encabezado </p>
<h2>&lt;td&gt;</h2>
<p>Define una celda que contiene datos</p>
<br>
<h2>Ejemplo:</h2>
<br>
<table class="table">

    <tr>
  
      <th>th1</th>
      <th>th2</th>
      <th>th3</th>
    </tr>

    <tr>
      <td>td1</td>
      <td>td2</td>
      <td>td3</td>
    </tr>
  </table>
<hr>
<h1>Enlaces</h1>
<br>
<h2>&lt;a&gt;</h2>
<p>Agrega un enlace:  &lt;a&gt;<a href="www.google.com">Ir a Google</a>&lt;/a&gt; </p>
<br>
<h1>Parrafos</h1>
<br>
<h2>&lt;p&gt;</h2>
<p>Agrega un parrafo:  &lt;p&gt;Esto es un parrafo&lt;/p&gt; </p>
<br>

<hr>
