
<h1>Listar Elementos</h1><br><br>
<h2>&lt;Li&gt;</h2>
<p>Añade un elemento a la lista</p>
<h2>&lt;Ul&gt;</h2>
<p>Añade una lista desordenada</p>

<ul>Compras
    <li>Aguacate</li>
    <li>Pan</li>
    <li>Cebolla</li>
</ul>
<hr>
<h2>&lt;Ol&gt;</h2>
<p>Añade una lista Ordenada</p>

<ol>Primeros Meses del Año
    <li>Enero</li>
    <li>Febrero</li>
    <li>Marzo</li>
</ol>
<hr>

<h1>Tablas</h1>
<h2>&lt;br&gt;</h2>
<p>Justo después de esta irá la etiqueta &lt;html&gt;. Esta segunda etiqueta sí que tiene etiqueta de cierre (&lt;/html&gt;) y englobará todo el contenido de la página.</p>
<hr>

<h2>&lt;BODY&gt; Y &lt;HEAD&gt;</h2>
<p>Dentro de las etiquetas &lt;body&gt; y &lt;head&gt;, colocaremos las etiquetas &lt;body&gt; y &lt;head&gt; de la siguiente manera: </p>
<br>
&lt;!DOCTYPE html&gt;<br>
&lt;html&gt;<br>
    &lt;head&gt; <br>
    &lt;/head&gt; <br>
    &lt;body&gt; <br>
    &lt;/body&gt;<br>
    &lt;/html&gt;
<br>
<hr>
