
<h1>Estructura basica HTML</h1><br><br>
<h2>&lt;!DOCTYPE HTML&gt;</h2>
<p>Pues bien, la primera etiqueta que colocaremos en todo documento HTML es &lt;!DOCTYPE HTML&gt;. No tiene ni contenido ni etiqueta 
    de cierre, simplemente indica al navegador que el documento es de tipo HTML5.</p>
<hr>

<h2>&lt;HTML&gt;</h2>
<p>Justo después de esta irá la etiqueta &lt;html&gt;. Esta segunda etiqueta sí que tiene etiqueta de cierre (&lt;/html&gt;) y englobará todo el contenido de la página.</p>
<hr>

<h2>&lt;BODY&gt; Y &lt;HEAD&gt;</h2>
<p>Dentro de las etiquetas &lt;body&gt; y &lt;head&gt;, colocaremos las etiquetas &lt;body&gt; y &lt;head&gt; de la siguiente manera: </p>
<br>
&lt;!DOCTYPE html&gt;<br>
&lt;html&gt;<br>
    &lt;head&gt; <br>
    &lt;/head&gt; <br>
    &lt;body&gt; <br>
    &lt;/body&gt;<br>
    &lt;/html&gt;
<br>
<hr>
